<!DOCTYPE html>
<html ng-app="app" ng-controller="nameCtrl">
	<head>
		<title>Yuanxu (Justin) Li</title>
		<script src="{{baseurl}}/public/javascripts/angular.min.js"></script>
		<link rel="stylesheet" href="{{baseurl}}/public/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="{{baseurl}}/public/stylesheets/bootstrap-theme.min.css">
		<script src="{{baseurl}}/public/javascripts/jquery-2.2.3.min.js"></script>
		<script src="{{baseurl}}/public/javascripts/bootstrap.min.js"></script>
		<script src="{{baseurl}}/app/app.js"></script>
		<link rel="stylesheet" href="{{baseurl}}/public/stylesheets/all.css">
	</head>
	<body ng-app="app">
		<nav-menu></nav-menu>
		<div class="container" ng-controller="linkCtrl">
			<h1>Links</h1>
			<div ng-repeat="(category, content) in links">
				<h2>{{category}}</h2>
				<ul>
					<li ng-repeat="link in content">
						<a href="{{link.link}}">{{link.text}}</a>: {{link.description}}
					</li>
				</ul>
				<hr>
			</div>
		</div>
		<page-footer></page-footer>
	</body>
</html>