<h1>Education</h1>
<div>
	<ul>
		<li> Master in <a href="http://engineering.case.edu/eecs/">Computer Science</a>, <a href="http://www.case.edu/">Case Western Reserve University</a></li>
		<li> B.S. in <a href="http://en.physics.ustc.edu.cn/">Physics</a>, <a href="http://en.ustc.edu.cn/">University of Science and Technology of China</a></li>
		<li> B.E. in <a href="http://en.cs.ustc.edu.cn/">Computer Science</a>, <a href="http://en.ustc.edu.cn/">University of Science and Technology of China</a></li>
	</ul>
</div>