<h1>Hometown</h1>
<div>
	My hometown, <a href="https://en.wikipedia.org/wiki/Ninghua_County">Ninghua</a> is a small city in western Fujian province, People's Republic of China. The town of Shibi of Ninghua is known as the cradle of the Hakka. Ninghua is also one of the starting place of the famous massive Long March undertaken by the Red Army of the Chinese Communist Party in 1934.
</div>
<ul class="list-group">
	<li class="list-group-item">
		<img ng-src="{{baseurl}}/public/assets/ninghua_location.jpg"/>
	</li>
	<li class="list-group-item">
		<img ng-src="{{baseurl}}/public/assets/scenery1.jpg"/>
	</li>
	<li class="list-group-item">
		<img ng-src="{{baseurl}}/public/assets/scenery2.jpg"/>
	</li>
</ul>
