<nav class="navbar navbar-default navbar-fixed-top" ng-controller="">
	<ul class="nav nav-pills">
		<li role="presentation" class="{active:isSelected(1)}"><a href="{{baseurl}}/" ng-click="selectTab(1)">Home</a></li>
		<li role="presentation" class="{active:isSelected(2)}"><a href="{{baseurl}}/public/assets/Yuanxu%20(Justin)%20Li%20CV.pdf" ng-click="selectTab(2)">CV</a></li>
		<li role="presentation" class="{active:isSelected(3)}"><a href="{{baseurl}}/personal.html" ng-click="selectTab(3)">Personal</a></li>
		<li role="presentation" class="{active:isSelected(4)}"><a href="{{baseurl}}/links.html" ng-click="selectTab(4)">Links</a></li>
	</ul>
</nav>
<hr>
<hr>